.signup {
  margin: 30px auto 0;
  max-width: 400px;

  &__title {
    margin-bottom: 15px;
    font-size: $fz-extra-large;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}
