.userModal {
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 120;

  &__container {
    background-color: white;
    width: 600px;
    height: fit-content;
    margin-top: 8%;
    border-radius: 20px;
    padding: 10px;
  }

  &--open {
    display: flex;
  }

  &__title {
    margin-left: 10px;
  }

  &__header {
    padding: 5px;
    border-bottom: 1px solid $clr-twitter-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .MuiButtonBase-root {
      margin-left: auto;
    }
  }

  .form {
    padding: 15px;

    div {
      width: 100%;
      margin: 5px 0;
    }
  }

  &__icon {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50px;

    &:hover {
      background-color: $clr-twitter-bg;
    }
  }
}
